.page_theme_proto
{
    margin: 0;

    .page__header,
    .page__content,
    {
        width: $page_width;

        margin: auto;
    }

    .page__header
    {
        padding-top: 40px;

        text-align: center;
    }

    .page__footer
    {
        background: #eee;

        padding: 100px 0;
    }
}
