.page_theme_proto
{
    .page__header,
    .page__content,
    .page__footer
    {
        width: $page_width;

        margin: auto;
    }

    .page__header
    {
        padding-top: 50px;

        text-align: center;
    }
}
