.section {
    padding: 100px 0;
}

.section_view_header {
    background: rgba(60, 174, 13, 1);
}

.section_view_diet {

}
.section_view_quote {
    background-color: #008CDC;
}

.section__content {
    margin: auto;
    max-width: 1000px;
}

.section__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #008CDC;
    text-align: center;
}

.section__desc {
    padding-bottom: 75px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #010101;
}

