.section {
    padding: 150px 0 130px;
    background-color: rgba(255, 255, 255, 1);
}

.section__content {
    margin: auto;
    padding: 0 20px;
    max-width: 1000px;
    box-sizing: border-box;
}

.section__title {
    padding: 0 20px 30px;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.4;
    color: #3B4572;
    text-align: center;
    font-family: 'Quicksand';
}

.section__desc {
    padding: 0 20px 75px;
    font-size: 20px;
    box-sizing: border-box;
    line-height: 1.8;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.section_view_header {
    background: #262D4C;
}

.section_theme_gray {
    background-color: rgba(245, 249, 253, 1);
}

.section_view_diet {

}

.section_view_helps {
    .section__title {
        padding-bottom: 80px;
    }
}

@media (--large) {
    .section__content {
        padding: 0;
    }
}

@media (--xlarge) {
    .section {
        padding: 200px 0 160px;
    }
}
