.section {
    padding: 150px 0 130px;
    background-color: rgba(255, 255, 255, 1);
}

.section__content {
    margin: auto;
    padding: 0 20px;
    max-width: 1000px;
    box-sizing: border-box;
}

.section__title {
    padding: 0 20px 30px;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.4;
    color: #3B4572;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.section__desc {
    padding: 0 20px 75px;
    font-size: 20px;
    box-sizing: border-box;
    line-height: 1.8;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.section_view_header {
    background: #2d3253;
    padding-bottom: 30px;
}

.section_view_subscribe {

    .section__desc {
        padding-bottom: 30px;
    }
}

.section_view_beta {
    background-color: #008CDC;

    .section__title {
        font-size: 52px;
        color: #fff;
    }

    .section__desc {
        color: #fff;
        font-weight: 300;
    }

    .section__content {
        text-align: center;
    }
}

@media (--large) {
    .section__content {
        padding: 0;
    }
}

@media (--xlarge) {
    .section {
        padding: 200px 0 160px;
    }

    .section_view_protein {
        padding-top: 300px;
    }

    .section_view_subscribe {
        padding-bottom: 300px;
    }

    .section_view_workflow {
        padding-bottom: 300px;
    }

    .section_view_team {
        padding-top: 300px;
    }
}
