.input_theme_proto
{
    margin-right: 20px;

    .input__control
    {
        border: 1px solid #262d4c;

        outline: none;

        box-sizing: border-box;
        font-weight: 300;
        color: #262d4c;
        background: transparent;
    }

    &.input_size_xl
    {
        .input__control
        {
            height: 70px;
            font-size: 24px;
            padding: 20px 30px;
            border-radius: 40px;
            width: 450px;
        }
    }
}
