.people_theme_jobs {

    .people__title {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #008CDC;
        line-height: 1.4;
        transition: color 200ms;
    }

    &.people_hovered {
        .people__title {
            color: rgba(100, 200, 0, 1);
        }
    }
}

