.dates__image {
    margin: 20px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    background-image: url(dates__image_mobile.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 444px;
}

@media (--medium) {
    .dates__image {
        background-image: url(dates__image.svg);
        height: 178px;
    }
}

