.intro {
    padding-top: 35px;
}

.intro__scheme {
    margin:  auto;
    width: 425px;
    height: 171px;
}

.intro__content {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 400;
    color: #FFF;
    font-family: 'Quicksand';
    text-align: center;
    line-height: 1.4;
}
