.intro {
    padding-top: 35px;
    text-align: center;
}

.intro__video {
    margin: 0 auto 60px;
    width: 958px;
    height: 398px;
    overflow: hidden;
}

.intro__title {
    font-size: 36px;
    font-weight: 400;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4;
    padding-bottom: 10px;
}

.intro__desc {
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4;
}

.intro__content {
    margin-bottom: 60px;
}

@media (--large) {
    .intro__scheme {
        margin-bottom: 0;
    }
}
