.DS_Store

._*
node_modules
npm-debug.log

*.sublime-workspace
*.sublime-project
.idea

bower_components/*

public/index/*.*
!public/index/*.bemjson.js
!public/index/*.html
!public/index/*.min.css
!public/index/*.min.js
.enb/tmp/

public/index/freeze
logs/*
gh-pages
