.idea
node_modules
.tmp
.enb/tmp
.sass-cache
.borschik

libs
test/libs
.DS_Store
.project
.libs-*/
*.log


*.bundles/*/*
!*.bundles/*/index.bemdecl.js

/coverage
/coverage.json
/gemini-report/

/dist
/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs
