.logo_theme_proto
{
    display: inline-block;

    transition: color 200ms ease;

    .logo__letter
    {
        font-family: 'Arvo';

        cursor: default;
    }

    .logo__title, .logo__description
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        color:       #333;
    }

    &.logo_mode_default
    {
        color: #262d4c;
    }

    &.logo_mode_desaturate
    {
        color: #a7a7a7;

        &:hover
        {
            color: #262d4c;
        }
    }

    &.logo_view_full
    {
        text-align: center;
    }

    &.logo_size_xl
    {
        .logo__letter
        {
            font-size: 6rem;
        }

        .logo__title
        {
            font-size: 3rem;
        }

        .logo__description
        {
            padding-top: 10px;

            font-size: 1.5rem;
        }
    }

    &.logo_size_m
    {
        .logo__letter
        {
            font-size: 4rem;
        }

        .logo__title
        {
            font-size: 1.2rem;
        }

        .logo__description
        {
            padding-top: 5px;

            font-size: 1rem;
        }
    }
}
