$page_width = 1250px;

// base fonts
$base_font_family = 'Roboto';
$base_font_size   = 16px;
$base_font_weight = 300;
$base_font_color  = #444;

// bem-typography
$font_size           = $base_font_size;
$heading_font_family = $base_font_family;
$heading_font_weight = 100;

// logo fonts
$logo_font_family = 'Arvo';
$logo_font_weight = 100;
