.price {
    position: relative;
    margin: auto;
    width: 218px;
    height: 168px;
    display: block;

    border: 2px solid rgba(107, 133, 159, .40);
    border-radius: 20px;
    text-align: center;

    background-color: rgba(255, 255, 255, 1);
}

.price__title,
.price__val,
.price__footer {
    position: absolute;
    left: 0;
    right: 0;
}

.price__title,
.price__footer
{
    font-size: 14px;
    line-height: 60px;
    z-index: 1;
}

.price__title {
    top: 0;
}

.price__footer {
    bottom: 0;
}

.price__val {
    top: 0;
    bottom: 0;

    vertical-align: middle;

    color: #6A859F;
    font-size: 72px;
    font-family: 'Quicksand';
    line-height: 168px;
}


.price_theme_early {
    border: 2px solid rgba(86, 147, 196, .5);

    .price__val {
        color: #357EC3;
        font-size: 56px;
    }

    &:before {
        position: absolute;
        content: '';

        top: -22px;
        left: -22px;

        width: 27px;
        height: 34px;

        background-image: url(price_theme_early.svg);
    }
}

@media (--small-only) {
    .price {
        width: 130px;
        height: 130px;
        border: none;

        &:before {
            display: none;
        }
    }

    .price__title,
    .price__footer
    {
        font-size: 14px;
        line-height: 50px;
    }

    .price__val,
    .price_theme_early .price__val {
        font-size: 40px;
        line-height: 130px;
    }

}

