.footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #262D4C;
    color: rgba(255, 255, 255, .8);
}

.footer__content {
    margin: auto;
    max-width: 800px;
    text-align: center;
}

.footer__social {
    margin-bottom: 140px;
}

.footer__logo {
    margin: 0 auto 40px;
}

.footer__text {
    margin-bottom: 150px;
    font-size: 22px;
    line-height: 1.4;
    font-family: 'Quicksand';
}

.footer__menu {
    margin-bottom: 30px;

    .menu-item {
        margin: 0 10px;
        display: inline-block;
    }

    .link {
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;
    }
}

.footer__copy {
    opacity: .7;
    font-size: 11px;
    color: rgba(255, 255, 255, .4);
}


@media (--large) {
    .footer__text {
        font-size: 42px;
    }
}
