.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: #262D4C;
    color: rgba(255, 255, 255, .8);
}

.footer__content {
    margin: auto;
    max-width: 800px;
    text-align: center;
}

.footer__social {
    margin-bottom: 60px;
}

.footer__logo {
    margin: 0 auto 20px;

    .logo {
        width: 120px !important;
    }
}

.footer__text {
    margin-bottom: 80px;
    font-size: 22px;
    line-height: 1.4;
    font-family: 'Quicksand';

    .mark {
        display: inline-block;
        padding: 0 3px;
    }
}

.footer__menu {
    margin-bottom: 30px;

    .menu-item {
        margin: 0 10px;
        display: inline-block;
    }

    .link {
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
    }
}

.footer__copy {
    font-size: 11px;
}


@media (--large) {
    .footer__text {
        font-size: 42px;
    }
}
