.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: rgba(255, 255, 255, 1);
}

.footer__content {
    margin: auto;
    max-width: 800px;
    text-align: center;
}

.footer__social {
    margin-bottom: 30px;
}

.footer__text {
    margin-bottom: 150px;
    font-size: 36px;

    .link {
        text-decoration: none;
        /*color: #FFF;*/
    }
}

.footer__menu {
    margin-bottom: 10px;

    .menu-item {
        margin: 0 10px;
        display: inline-block;
    }

    .link {
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
        /*color: #FFF;*/
    }
}

.footer__copy {
    font-family: 13px;
    color: rgba(255, 255, 255, .5);
}
