.button_theme_proto
{
    font-family: 'Roboto', sans-serif;

    position: relative;
    display:  inline-block;

    margin:  0;
    padding: 0;

    user-select: none;

    border:        0;
    border-radius: 40px;

    outline: 0;

    text-align:  center;
    white-space: nowrap;

    transition: all 200ms ease;

    color: #87bb4f;

    font-weight: 300;

    background: #87bb4f;

    &:before
    {
        position: absolute;
        top:      1px;
        right:    1px;
        bottom:   1px;
        left:     1px;

        content: '';

        border-radius: 40px;

        transition: all 200ms ease;

        background: #fff;
    }

    &::-moz-focus-inner
    {
        padding: 0;

        border: 0;
    }

    .button__text
    {
        overflow: hidden;

        text-overflow:  ellipsis;
        vertical-align: top;
    }

    .button__text
    {
        /*
         * These rules fixes Opera 12+ && IE 9 bug with extra top margin when pressed
         * Warning: bug still can be reproduced by clicking on button's border
         * TODO: try to fix
         */
        position: relative;
        display:  inline-block;
    }

    .button__icon
    {
        position: relative;
    }

    &.button_type_link
    {
        text-decoration: none;
    }

    &.button_hovered
    {
        cursor: pointer;

        color: #fff;

        &:before
        {
            background: #87bb4f;
        }
    }

    &.button_view_action
    {
        background: #262d4c;

        color: #262d4c;

        &.button_hovered
        {
            color: #fefefe;

            &:before
            {
                background: #262d4c;
            }
        }
    }

    &.button_size_xl
    {
        font-size:   remify(24px);
        line-height: remify(72px);

        .button__text
        {
            margin: 0 40px;
        }
    }
}
