.integration
{
    display: inline-block;

    text-align: center;

    margin-right: 40px;

    &:first-child
    {
        margin-left: 0;
    }
}

.integration__title
{
    font-family: 'Roboto', sans-serif;

    margin-top: 10px;
}

.integration__icon
{
    vertical-align: middle;
}
