.people {
    display: block;
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
}

.people__image {
    margin: 0 auto 30px;
    height: 110px;
}

.people__name {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #010101;
    line-height: 1.4;
    display: block;
}

.people__nickname {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #008CDC;
    line-height: 1;
    transition: color 200ms;
}

.people__post {
    padding-top: 10px;
    font-size: 14px;
    display: block;
    color: rgba(0, 0, 0, .4);
}

.people_hovered {

    .people__nickname {
        color: rgba(100, 200, 0, 1);
    }
}

@media (--small-only) {
    .people__name {
        width: 100px;
        margin: auto;
    }
}
