.paragraph
{
    font-family: $base_font_family;
    font-weight: $base_font_weight;
    color:       $base_font_color;
    line-height: 1.4rem;

    &::selection
    {
        background: #FCC961;
    }
}
