.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;

    background: #262D4C;

    z-index: 9999;

    visibility: hidden;
}

.header__content {
    margin: auto;
    padding-top: 50px;
    max-width: 1000px;
    opacity: 0;
    transition: opacity .2s;
}

.header__logo {
    width: 173px;
}

.header__menu {
    display: none;

    .menu-item {
        display: inline-block;
    }

    .menu-item_type_link {
        margin: 0 25px;

        .link {
            font-weight: 400;
            font-size: 16px;
        }
    }

    .menu-item_type_button {
        margin-left: 20px;
    }
}

.header_visible {
    visibility: visible;

    .header__content {
        opacity: 1;
    }
}

.header_fixed {
    position: fixed;
}

@media (--small) {

    .header_fixed {
        display: none;
    }

    .header__logo {
        margin: auto;
    }
}

@media (--large) {

    .header_fixed {
        display: block;
    }

    .header__logo {
        float: left;
    }
    .header__menu {
        display: block;
        float: right;
    }

    .header__content {
        padding-top: 25px;
        min-width: 846px;
    }
}
