.promo
{
    text-align: center;

    padding: 40px 0 40px;

    &:first-child
    {
        padding-top: 80px;
    }
}

.promo__description
{
    padding-top: 20px;
}

.promo__actions
{
    padding-top: 40px;
}
