.section {

  &__wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0 160px;
  }

  &_view_dynamics,
  &_view_transporter {
    padding-top: 80px;

    .section__content {
      padding-top: 60px;
    }
  }

  &_view_main {
    color: rgba(51, 51, 102, .9);
    background: rgba(132, 132, 155, .08);

    .paragraph {
      color: rgba(102, 102, 153, .9);
    }
  }

  &_view_dynamics {
    color: rgba(255, 255, 255, .9);
    background: #1F1F1F;
  }

  &_view_transporter {
    color: rgba(51, 51, 102, .9);
    background: rgba(255, 255, 255, .9);

    .paragraph {
      color: rgba(102, 102, 153, .9);
    }
  }

  &__actions {
    padding-top: 60px;
  }
}
