.button {
    padding: 0 20px;
    height: 44px;

    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

    line-height: 38px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;

    border: 3px solid;
    border-radius: 44px;
    border-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: 200ms;

    outline: none;
}

.button_hovered {
    background-color: rgba(255, 255, 255, 1);
}

.button_size_m {
    padding: 0 20px;
    height: 44px;

    line-height: 38px;
    font-size: 18px;

    border-radius: 44px;

    &.button_hovered {
        color: #262D4C;
    }
}

.button_size_l {
    padding: 0 40px;
    height: 70px;

    line-height: 64px;
    font-size: 28px;

    border-radius: 70px;

    &.button_hovered {
        color: #2FBD2F;
    }
}

.button_theme_p {
    color: #fff;
    border-color: #2d3253;
    background: #2d3253;

    &.button_hovered {
        color: #fff;
    }
}
