.button {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
}

.button_theme_bagel-in-color {
    display: inline-block;
    padding: 0 20px;
    height: 36px;

    line-height: 34px;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;

    border: 2px solid;
    border-radius: 18px;
    text-decoration: none;
    transition: 200ms;

    &.button_hovered {
        color: #BCFF77;
        border-color: #BCFF77;
    }
}

.button_theme_fill {
    padding: 0 70px;
    height: 40px;
    display: inline-block;

    background: #64C800;

    border-radius: 40px;

    font-weight: bold;
    font-size: 21px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;

    transition: 200ms;
    text-decoration: none;

    &.button_hovered {
        background: #60C000;
    }
}
