.feature
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    padding-bottom: 30px;
}

.feature__title
{
    font-size:  $rem_font_size;
    color:      #333;
    text-align: center;

    padding-top: 20px;
}
