.feature
{
    font-family: $base_font_family;
    font-weight: $base_font_weight;
    
    padding-bottom: 30px;
}

.feature__title
{
    font-size:  $rem_font_size;
    color:      $base_font_color;
    text-align: center;

    padding-top: 20px;
}
