.copyright {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: 300;
  color: rgba(102, 102, 153, .9);
  letter-spacing: 1px;
  line-height: 1.4;
}
