.social-links
{
    padding: 30px 0 10px;

    .social-links__link
    {
        opacity: 0.95;

        margin-left: 15px;

        &:first-child
        {
            margin-left: 0;
        }
    }
}
