.technology {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

.technology__icon {
    display: inline-block;
}

.technology__text {
    font-weight: bold;
    font-size: 14px;
    color: #008CDC;
    line-height: 37px;
    display: block;
    text-align: center;
    transition: color 200ms;
}

.technology__sup {
    font-weight: bold;
    color: #E44D26;
    font-size: 12px;
    line-height: 1;
}

.technology_hovered .technology__text{
    color: #167AB3;
}

@media (--small-only) {
    .technology {
        font-size: 45px;
    }

    .technology__icon {
        height: 60px;
        background-size: 100% 100%;

        /*&.icon_technology_angular { width: 31.5px; }
        &.icon_technology_backbone { width: 26px; }
        &.icon_technology_bem { width: 49.5px; }
        &.icon_technology_framerjs { width: 29.5px; }
        &.icon_technology_google-form { width: 32px; }
        &.icon_technology_html { width: 25.5px; }
        &.icon_technology_invision { width: 32px; }
        &.icon_technology_illustrator { width: 32px; }
        &.icon_technology_marvel { width: 32.5px; }
        &.icon_technology_osx { width: 33px; }
        &.icon_technology_parse { width: 45px; }
        &.icon_technology_pixate { width: 32px; }
        &.icon_technology_react { width: 36px; }
        &.icon_technology_sketch { width: 37px; }*/


        &.icon_technology_angular { width: 47px; }
        &.icon_technology_backbone { width: 39px; }
        &.icon_technology_bem { width: 61px; }
        &.icon_technology_framerjs { width: 44px; }

        &.icon_technology_google-form { width: 49px; }
        &.icon_technology_html { width: 38px; }

        &.icon_technology_invision { width: 49px; }

        &.icon_technology_illustrator { width: 49px; }

        &.icon_technology_marvel { width: 49px; }
        &.icon_technology_osx { width: 50px; }
        &.icon_technology_parse { width: 68px; }

        &.icon_technology_pixate { width: 49px; }

        &.icon_technology_react { width: 54px; }
        &.icon_technology_sketch { width: 56px; }

    }

    .technology__text {
        font-size: 12px;
        line-height: 20px;
    }
}
