.promo
{
    text-align: center;

    padding: 40px 0;

    max-width: 1100px;

    margin: 0 auto;

    &:first-child
    {
        padding-top:    80px;
        padding-bottom: 20px;
    }

    &.promo_view_color
    {
        transition: background 400ms ease;

        padding-bottom: 160px;

        max-width: 100%;

        &.promo_colorized
        {
            background: #FCC961;
        }
    }
}

.promo__description
{
    padding-top: 20px;
}

.promo__actions
{
    padding-top: 60px;
}

.promo__icon
{
    margin-left: 20px;

    &:first-child
    {
        margin-left: 0;
    }
}
