.command {
    display: inline-block;
    padding: .1em .4em;
    margin: 0;

    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;

    background-color: rgba(0,0,0,.04);

    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 85%;
    line-height: 1.6;

    color: rgba(0,0,0,.7);
}

