.social {

    .link {
        margin: 0 15px;
        text-decoration: none;
    }

    .icon {
        svg {
            height: 46px;
            width: 46px;
        }

        path {
            fill: #fff;
            transition: 200ms;
        }
    }

    .link_hovered {
        .icon {
            path {
                fill: #BCFF77;
            }
        }
    }
}

