.logo_theme_proto
{
    display: inline-block;

    &.logo_mode_default
    {
        color: #262d4c;
    }

    &.logo_mode_desaturate
    {
        color: #a7a7a7;
    }

    &.logo_view_letter
    {
        .logo__title, .logo__description
        {
            display: none;
        }
    }

    .logo__letter
    {
        font-family: $logo_font_family;
    }

    .logo__title, .logo__description
    {
        font-family: $base_font_family;
        font-weight: $logo_font_weight;
        color:       $base_font_color;
    }

    &.logo_view_full
    {
        text-align: center;
    }

    &.logo_size_xl
    {
        .logo__letter
        {
            font-size: remify(128px);
        }

        .logo__title
        {
            font-size: remify(56px);
        }

        .logo__description
        {
            padding-top: 10px;

            font-size: remify(24px);
        }
    }

    &.logo_size_m
    {
        .logo__letter
        {
            font-size: remify(64px);
        }

        .logo__title
        {
            font-size: remify(28px);
        }

        .logo__description
        {
            padding-top: 5px;

            font-size: remify(16px);
        }
    }
}
