.yes-you-can
{
    display: inline-block;

    box-sizing: border-box;

    &:hover
    {
        .yes-you-can__control
        {
            border: 1px dotted #cecece;
        }

        .yes-you-can__settings
        {
            visibility: visible;
        }
    }

    .yes-you-can__control
    {
        padding: 10px;

        border-radius: 4px;
        border:        1px dotted transparent;

        transition: border-color 200ms ease;

    }

    .yes-you-can__settings
    {
        visibility: hidden;

        padding-top: 10px;
    }
}
