.input_theme_p {
    position: relative;
    box-sizing: border-box;
    display: inline-block;

    .input__control {
        box-sizing: border-box;
        padding: 0 20px;
        border: 4px solid #2d3253;
        border-radius: 45px;

        line-height: 45px;
        font-size: 18px;

        width: 100%;

        outline: none;
    }
}

::-webkit-input-placeholder {
    color: #2d3253;
}

:-moz-placeholder {
    color: #2d3253;
}

::-moz-placeholder {
    color: #2d3253;
}

:-ms-input-placeholder {
    color: #2d3253;
}
