.button {
  font-family: 'Helvetica Neue';
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 2px;

  &_view_action {
    outline: none;
    border: 0;
    background-color: rgba(102, 102, 153, 1);
    color: rgba(255, 255, 255, .9);
    padding: 1.25rem 3rem;
    border-radius: 4rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    transition: all 200ms ease-out;

    &.button_hovered {
      background-color: rgba(102, 102, 153, 1);
    }
  }

  &_view_play {
    color: rgba(255, 255, 255, .9);
    border: 1px solid;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: .9;
    margin: 1.25rem;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1.25rem;
    border-radius: 100%;
    transition: all 200ms ease-in;

    &.button_hovered {
      background-color: rgba(255, 255, 255, .1);
    }
  }
}
