.technologies {
    margin: auto;
    max-width: 760px;

    padding-bottom: 60px;
}

.technologies__item {
    padding-bottom: 40px;
    text-align: center;
    display: block;
    width: 100%;
}

.technologies__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #D0021B;
    line-height: 28px;
    padding-bottom: 25px;
}
